flows.json
[
    {
        "id": "b3c1cc0c4de56cd8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5f1e2921c16c7cd",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d327d469936224b5",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab8e94b61633d1bf",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81a30fdf93ecbe1b",
        "type": "firebase admin",
        "name": "basedatarealtime"
    },
    {
        "id": "f0acfe16583c9c27",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "grupounoiot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f4395ba018716cfa",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "919fb5fec90d1610",
        "type": "ui_spacer",
        "z": "d327d469936224b5",
        "name": "spacer",
        "group": "11f101f3c79523d6",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2720416019ec0135",
        "type": "ui_tab",
        "name": "Pincipal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8595fad86834097e",
        "type": "ui_group",
        "name": "Sensores on/off",
        "tab": "2720416019ec0135",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6460dece15e7e3e1",
        "type": "ui_group",
        "name": "EstadoSensores",
        "tab": "2720416019ec0135",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe4d0132a6be9fa3",
        "type": "ui_group",
        "name": "GaugeSensores",
        "tab": "2720416019ec0135",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92bb91e78db4946f",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "866927ccc66b0b61",
        "type": "debug",
        "z": "b3c1cc0c4de56cd8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ef90eb924eaeb6a",
        "type": "mysql",
        "z": "b3c1cc0c4de56cd8",
        "mydb": "f0acfe16583c9c27",
        "name": "registrosensor",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "866927ccc66b0b61"
            ]
        ]
    },
    {
        "id": "531b93d092cb9528",
        "type": "inject",
        "z": "b3c1cc0c4de56cd8",
        "name": "simuladorJson",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":23,\"humedad\":86}",
        "payloadType": "json",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f7780b825c9e0cb4"
            ]
        ]
    },
    {
        "id": "f7780b825c9e0cb4",
        "type": "function",
        "z": "b3c1cc0c4de56cd8",
        "name": "insertSql",
        "func": "var temperatura = msg.payload.temperatura; \nvar humedad = msg.payload.humedad; \n\nmsg.topic = \"INSERT into registrosensor (id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\" + \")\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "0ef90eb924eaeb6a"
            ]
        ]
    },
    {
        "id": "e9d86dba0df32519",
        "type": "inject",
        "z": "b3c1cc0c4de56cd8",
        "name": "Mostrar tabla",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Select * from registrosensor",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "0ef90eb924eaeb6a"
            ]
        ]
    },
    {
        "id": "15aa950c6b90c8fa",
        "type": "inject",
        "z": "b3c1cc0c4de56cd8",
        "name": "Actualizar registro",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update registrosensor set temperatura=50 where id=1;",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "0ef90eb924eaeb6a"
            ]
        ]
    },
    {
        "id": "68dbe4cab1f21303",
        "type": "inject",
        "z": "b3c1cc0c4de56cd8",
        "name": "Borrar registro",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delete from registrosensor where id > 3;",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "0ef90eb924eaeb6a"
            ]
        ]
    },
    {
        "id": "56413e0eff0efdac",
        "type": "firebase realtime database out",
        "z": "a5f1e2921c16c7cd",
        "name": "firebase",
        "ref": "registrosensor",
        "operation": "set",
        "admin": "81a30fdf93ecbe1b",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "392c2626102e4cb1"
            ]
        ]
    },
    {
        "id": "a11f925a6fd96c88",
        "type": "inject",
        "z": "a5f1e2921c16c7cd",
        "name": "Simulador Json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":25,\"humedad\":81}",
        "payloadType": "json",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "56413e0eff0efdac"
            ]
        ]
    },
    {
        "id": "392c2626102e4cb1",
        "type": "debug",
        "z": "a5f1e2921c16c7cd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "9a6b3453a86d0050",
        "type": "firebase realtime database in",
        "z": "a5f1e2921c16c7cd",
        "name": "Consulta",
        "ref": "registrosensor",
        "dataAtStart": true,
        "admin": "81a30fdf93ecbe1b",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "de368ff8980121c9"
            ]
        ]
    },
    {
        "id": "de368ff8980121c9",
        "type": "debug",
        "z": "a5f1e2921c16c7cd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "17bc524b52e517d8",
        "type": "ui_switch",
        "z": "d327d469936224b5",
        "name": "",
        "label": "On/Off",
        "tooltip": "",
        "group": "8595fad86834097e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Estado",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4275fe84e4cc24",
        "type": "ui_gauge",
        "z": "d327d469936224b5",
        "name": "",
        "group": "fe4d0132a6be9fa3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b408616b2d8ac8a",
        "type": "ui_chart",
        "z": "d327d469936224b5",
        "name": "",
        "group": "6460dece15e7e3e1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura y humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7397c1f94fb54be1",
        "type": "ui_gauge",
        "z": "d327d469936224b5",
        "name": "",
        "group": "fe4d0132a6be9fa3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "0da7c6bab1770f5c",
        "type": "inject",
        "z": "d327d469936224b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temperatura",
        "payload": "38",
        "payloadType": "num",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "3b408616b2d8ac8a",
                "7397c1f94fb54be1"
            ]
        ]
    },
    {
        "id": "93eca12658deb7f9",
        "type": "inject",
        "z": "d327d469936224b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Humedad",
        "payload": "35",
        "payloadType": "num",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "ab4275fe84e4cc24",
                "3b408616b2d8ac8a"
            ]
        ]
    },
    {
        "id": "c14cea9ebab97847",
        "type": "inject",
        "z": "ab8e94b61633d1bf",
        "name": "Cicilo de simulación",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "d25a784490044c83"
            ]
        ]
    },
    {
        "id": "d25a784490044c83",
        "type": "random",
        "z": "ab8e94b61633d1bf",
        "name": "Simulacion sensor",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "1c7b286f814db75a",
                "965130cff07bcfca"
            ]
        ]
    },
    {
        "id": "1c7b286f814db75a",
        "type": "mqtt out",
        "z": "ab8e94b61633d1bf",
        "name": "",
        "topic": "UR/PVC/APP",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92bb91e78db4946f",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "965130cff07bcfca",
        "type": "debug",
        "z": "ab8e94b61633d1bf",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    }
]